*.[oa]
configure
config.log
config.status
config.rpath
config.h
config.h.in
cscope.out
doxy.config
Makefile
Makefile.in
Makefile.in.in
*.so
*.so.[0-9].[0-9].[0-9]
*.a
*.l[oa]
*.py[oc]
*.pydevproject
.deps
.libs
*.html
*.[0-9]
*.pc
autom4te.cache
libtool
stamp-h1
m4/
aclocal.m4
depcomp
ltmain.sh
missing
.dirstamp
sssd.spec
*.gmo
*.header
*.sed
*.sin
Makevars.template
POTFILES
Rules-quot
stamp-po
ABOUT-NLS
build
*.patch
*.swp
*.X
tags
sss_groupadd
sss_groupdel
sss_groupmod
sss_useradd
sss_userdel
sss_usermod
sss_groupshow
sssd
sssd_be
sssd_dp
sssd_nss
sssd_pam
krb5_child
ldap_child
sss_cache
*~
crypto-tests
debug-tests
fail_over-tests
files-tests
find_uid-tests
ipa_hbac-tests
ipa_ldap_opt-tests
krb5-utils-tests
pam_test_client
proxy_child
refcount-tests
resolv-tests
simple_access-tests
stress-tests
strtonum-tests
sysdb-tests
util-tests
auth-tests
check_and_open-tests
