*.[oa]
configure
config.log
config.status
config.rpath
config.h
config.h.in
cscope.out
cscope.in.out
cscope.po.out
doxy.config
Makefile
Makefile.in
Makefile.in.in
*.so
*.so.[0-9].[0-9].[0-9]
*.a
*.l[oa]
*.py[oc]
*.pydevproject
*.project
*.cproject
*.settings
.deps
.libs
*.html
*.[0-9]
*.pc
autom4te.cache
libtool
stamp-h1
m4/
aclocal.m4
depcomp
ltmain.sh
missing
.dirstamp
sssd.spec
*.gmo
*.header
*.sed
*.sin
Makevars.template
POTFILES
Rules-quot
stamp-po
ABOUT-NLS
build
*.patch
*.swp
*.X
tags
sss_groupadd
sss_groupdel
sss_groupmod
sss_useradd
sss_userdel
sss_usermod
sss_groupshow
sss_debuglevel
sssd
sssd_be
sssd_dp
sssd_nss
sssd_pam
krb5_child
ldap_child
sss_cache
*~
crypto-tests
debug-tests
fail_over-tests
files-tests
find_uid-tests
ipa_hbac-tests
ipa_ldap_opt-tests
krb5-utils-tests
pam_test_client
proxy_child
refcount-tests
resolv-tests
simple_access-tests
stress-tests
strtonum-tests
sysdb-tests
util-tests
auth-tests
check_and_open-tests
sssd_sudo
sss_sudo_cli
autofs_test_client
sssd_autofs
*.trs
*.log
sss_seed
sssd_ifp
sssd_pac
/*-test
/*-tests
/test-*
/test_*
/tests_*/
*.doxy
*.stamp
src/config/SSSDConfig/__init__.py
src/config/lib/
src/config/setup.py
src/examples/rwtab
src/sysv/systemd/sssd.service
sss_ssh_authorizedkeys
sss_ssh_knownhostsproxy
sssd_ssh
test-authtok
/ci-build-*
.pytest_cache
__pycache__
.venv
src/man/sssd_user_name.include

# multihost tests
!src/tests/multihost/sssd
!src/tests/multihost/docs/Makefile
!src/tests/multihost/setup.py
!src/tests/multihost/sssd-testlib.spec

# system tests
src/tests/system/artifacts
src/tests/system/docs/_build
src/tests/system/docs/api
!src/tests/system/docs/Makefile
!src/tests/system/lib/sssd
