*.[oa]
configure
config.log
config.status
config.h
config.h.in
config.rpath
Makefile
cscope.out
*.so
*.so.[0-9].[0-9].[0-9]
*.a
*.la
*.lo
aclocal.m4
.deps
.libs
*.html
*.[0-9]
*.pc
autom4te.cache
libtool
stamp-h1
