// Please put this file in /usr/share/polkit-1/rules.d/ if SSSD is running as
// unprivileged user 'root' to allow access to the Smartcard via pcscd.
polkit.addRule(function(action, subject) {
    if (action.id == "org.debian.pcsc-lite.access_card" &&
        subject.user == "root") {
            return polkit.Result.YES;
    }
});

polkit.addRule(function(action, subject) {
    if (action.id == "org.debian.pcsc-lite.access_pcsc" &&
        subject.user == "root") {
            return polkit.Result.YES;
    }
});
