# This certificate is used in
# - src/tests/cmocka/test_certmap.c
# as an example for a simple certificate without EKU and SAN extensions
[ req ]
distinguished_name = req_distinguished_name
prompt = no

[ req_distinguished_name ]
O = SSSD
OU = SSSD test
CN = SSSD test cert 0003

[ req_exts ]
basicConstraints = CA:FALSE
nsCertType = client
nsComment = "SSSD test Certificate"
subjectKeyIdentifier = hash
keyUsage = digitalSignature, keyEncipherment
