# This certificate is expected to be expired and is used in
# - src/tests/cmocka/test_pam_srv.c
# Looks like there is no config option to set the start date so the system time
# must be changed with faketime when creating the certificate
[ req ]
distinguished_name = req_distinguished_name
prompt = no

[ req_distinguished_name ]
O = SSSD
OU = SSSD test
CN = SSSD test cert 0008 expired

[ req_exts ]
basicConstraints = CA:FALSE
nsCertType = client, email
nsComment = "SSSD test Certificate - expired"
subjectKeyIdentifier = hash
keyUsage = critical, nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth, emailProtection
subjectAltName = email:sssd-devel@lists.fedorahosted.org,URI:https://github.com/SSSD/sssd//
