# This certificate is used in
# - src/tests/cmocka/test_cert_utils.c
# - src/tests/cmocka/test_pam_srv.c
# - src/tests/cmocka/test_ssh_srv.c
# to test for non default values of the exponent in RSA and an unexpected character in the CN
[ req ]
distinguished_name = req_distinguished_name
prompt = no

[ req_distinguished_name ]
O = SSSD
OU = SSSD test
CN = SSSD test cert 0007 /oddchar

[ req_exts ]
basicConstraints = CA:FALSE
subjectKeyIdentifier = hash
keyUsage = critical, nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth, emailProtection
subjectAltName = email:sssd-devel@lists.fedorahosted.org,URI:https://github.com/SSSD/sssd//

crlDistributionPoints=@crl_section
[crl_section]
URI.1 = http://localhost/intCA.crl
