# This certificate is used in
# - test_sss_cert_get_content_test_cert_0004
# as an example for a simple certificate without KU, EKU and SAN extensions
# The subjectKeyIdentifier is required to make sure older versions of OpenSSL
# will generate it as newer version add it automatically.
[ req ]
distinguished_name = req_distinguished_name
prompt = no

[ req_distinguished_name ]
O = SSSD
OU = SSSD test
CN = SSSD test cert 0004

[ req_exts ]
subjectKeyIdentifier=hash
