# This certificate is used in
# - src/tests/cmocka/test_pam_srv.c
# This certificate will be revoked
[ req ]
distinguished_name = req_distinguished_name
prompt = no

[ req_distinguished_name ]
O = SSSD
OU = SSSD test
CN = SSSD test cert 0009 - revoked

[ req_exts ]
basicConstraints = CA:FALSE
nsCertType = client, email
nsComment = "SSSD test Certificate"
subjectKeyIdentifier = hash
keyUsage = critical, nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth, emailProtection
subjectAltName = email:sssd-devel@lists.fedorahosted.org,URI:https://github.com/SSSD/sssd//
