# This certificate is used in
# - src/tests/cmocka/test_pam_srv.c
# as an example with a OCSP URI
[ req ]
distinguished_name = req_distinguished_name
prompt = no

[ req_distinguished_name ]
O = SSSD
OU = SSSD test
CN = SSSD test cert 0005

[ req_exts ]
basicConstraints = CA:FALSE
nsCertType = client
nsComment = "SSSD test Certificate"
subjectKeyIdentifier = hash
keyUsage = critical, nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth
subjectAltName = email:sssd-devel@lists.fedorahosted.org,URI:https://github.com/SSSD/sssd//
authorityInfoAccess = OCSP;URI:http://ocsp.my.server.invalid/
