name: "ci"
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  prepare:
    if: github.event_name == 'push' || !contains(github.event.pull_request.labels.*.name, 'Accepted')
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
    steps:
    - name: Checkout sources
      uses: actions/checkout@v6

    - name: Get matrix
      id: matrix
      run: ./contrib/ci/get-matrix.py --action

  intgcheck:
    if: github.event_name == 'push' || !contains(github.event.pull_request.labels.*.name, 'Accepted')
    needs: [prepare]
    strategy:
      fail-fast: false
      matrix:
        tag: ${{ fromJson(needs.prepare.outputs.matrix).intgcheck }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        path: sssd

    - name: Setup containers
      uses: SSSD/sssd-ci-containers/actions/setup@master
      with:
        path: sssd-ci-containers
        tag: ${{ matrix.tag }}
        limit: dns client
        override: |
          services:
            client:
              image: ${REGISTRY}/ci-client-devel:${TAG}
              volumes:
              - ../sssd:/sssd:rw

    - name: Run integration tests
      uses: SSSD/sssd-ci-containers/actions/exec@master
      with:
        working-directory: /sssd
        script: ./contrib/ci/run --moderate

    - name: Print logs
      uses: next-actions/print-logs@master
      if: always()
      with:
        working-directory: ./sssd/ci-build-debug
        files: |
          test-suite.log
          ci-make-intgcheck.log
          ci-make-distcheck.log

    - name: Upload main artifacts
      if: always()
      uses: actions/upload-artifact@v6
      with:
        if-no-files-found: ignore
        name: ${{ matrix.tag }}-intgcheck
        path: |
          ./sssd/var/log/sssd/*.log
          ./sssd/ci-build-debug/ci-*.log
          ./sssd/ci-build-debug/config.log
          ./sssd/ci-build-debug/test-suite.log
          ./sssd/ci-build-debug/ci-mock-result/*.log
          ./sssd/ci-build-debug/src/tests/cwrap/test-suite.log
          ./sssd/ci-install-deps.log
          ./sssd/ci-autoreconf.log

    - name: Upload valgrind artifacts
      if: always()
      uses: actions/upload-artifact@v6
      with:
        if-no-files-found: ignore
        name: ${{ matrix.tag }}-intgcheck-valgrind
        path: |
          ./sssd/ci-build-debug/*.valgrind.log
