name: Coverity scan
on:
  # run once daily at 00:30 UTC due to
  # https://scan.coverity.com/faq#frequency
  schedule:
    - cron: "30 0 * * *"
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  coverity:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install dependencies
      uses: ./.github/actions/install-dependencies

    - name: Configure
      uses: ./.github/actions/configure

    - name: Execute and submit coverity scan
      uses: vapier/coverity-scan-action@v1.2.0
      with:
        email: "sssd-maint@redhat.com"
        token: ${{ secrets.COVERITY_SCAN_TOKEN }}
        working-directory: x86_64
