name: "release"
on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Target branch for release'
        required: true
        default: 'master'
        type: string
      version:
        description: 'Release version'
        required: true
        type: string
jobs:
  release:
    runs-on: ubuntu-latest
    container: quay.io/sssd/ci-client-devel:latest
    permissions:
      contents: write
      pull-requests: read
    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
      with:
        path: sssd

    - name: Import GPG key
      uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec
      with:
        gpg_private_key: ${{ secrets.GPG_KEY }}
        passphrase: ${{ secrets.GPG_PASSPHRASE }}
        git_config_global: true
        git_user_signingkey: true
        git_tag_gpgsign: true
        git_commit_gpgsign: true
        git_committer_name: sssd-bot
        git_committer_email: sssd-maintainers@lists.fedoraproject.org

    - name: Install dependencies
      uses: ./sssd/.github/actions/install-dependencies
      with:
        working-directory: sssd

    - name: Execute release script
      working-directory: sssd
      shell: bash
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        ./scripts/release.sh "${{ inputs.branch }}" "${{ inputs.version }}"
